<html>
<head>
    <title>{{ data.name }} - Overview of tasks</title>
    <style>
        {% include 'basic_style.css' %}
    </style>
</head>
<body>
    <h1>Asana exporter</h1>
    {% include 'navigation.html' with context %}
    <h2>{{ data.name }} - Tasks:</h2>
    {% if data.tasks|length > 0 %}
    <ul>
    {% for task in data.tasks|sort(attribute="name_xfrm") %}
        <li><a href="./{{ task.filename() }}/index.html">{{ task.name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <b>No tasks in this project</b>
    {% endif %}
</body>
</html>