<html>
<head>
    <title>{{ data.name }} - Overview of tasks</title>
</head>
<body>
    <h1>Asana exporter</h1>
    {% include 'navigation.html' with context %}
    <h2>{{ data.name }}</h2>
    <div class="task-details">
        <div class="memberships">
            <h3>Projects</h3>
            {% if data.memberships|length > 0 %}
            <ul>
                {% for membership in data.memberships %}
                <li>
                    {% if "project" in membership %}
                    <span class="project">{{ membership["project"].name}}</span>
                    {% endif %}
                    > 
                    {% if "section" in membership %}
                    <span class="section">{{ membership["section"].name}}</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <b>No project contains this task</b>
            {% endif %}
        </div>
        </div>
        <div class="notes">
            <h3>Notes</h3>
            {% if data.notes | remove_bodytag | trim | length == 0%}
            <b>No notes</b>
            {% else %}
            <div class="notes-text">{{ data.notes | remove_bodytag | safe }}</div>
            {% endif %}
        </div>
        <div class="subtasks">
            <h3>Subtasks</h3>
            {% if data.subtasks|length > 0 %}
            <ul>
            {% for task in data.subtasks|sort(attribute="name_xfrm") %}
                <li><a href="./{{ task.filename() }}/index.html">{{ task.name }}</a></li>
            {% endfor %}
            </ul>
            {% else %}
            <b>No subtasks</b>
            {% endif %}
        </div>
        <h3>Attachments</h3>
        <div>
            <ul>
            {% for att in data.attachments %}
                {% if att.raw_data.download_url %}
                    <li><a href="./attachments/{{ att.name }}">{{ att.name }}</a>({{ att.size|filesizeformat(binary=True) if att.size else "Unknown size"}}, {{ att.created_at }})</li>
                {% else %}
                    <li><a href="{{ att.raw_data.view_url }}">{{ att.name }}</a>(External, {{ att.created_at }})</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="stories">
    <h3>Activity</h3>
    {% for story in data.stories %}
        {% if story.story_type == "comment" %}
            <div class="story comment">
                <span class="time">({{ story.created_at }})</span>
                <span class="user"><b>{{ story.username }} ({{story.likes | length if story.likes else 0}} 👍):</b></span>
                <span>{{ story.text | remove_bodytag | safe }}</span>
            </div>
        {% else %}
            <div class="story">
                <span class="time">({{ story.created_at }})</span>
                <span class="text">{{ story.text | remove_bodytag | safe }}</span>
            </div>
        {% endif %}
    {% else %}
        <b>No activity or comments</b>
    {% endfor %}
    </div>
</body>
</html>